/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29/11/2016, 12:23:18 PM
    Author     : pdgomezl
*/

.ui-growl{
    padding-top: 50px;
    z-index: 99999;
    height: 50px;
}
